<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="pmph" packages="">
	<Properties>
		<Property name="baseDir">/var/opt/pmph/log</Property>
	</Properties>
	<Appenders>
		<RollingFile name="LOGFILE" fileName="${baseDir}/pmph-client.log"
			filePattern="${baseDir}/pmph-client-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d %-5p [%t] %C - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="100">
				<Delete basePath="${baseDir}">
					<IfFileName glob="pmph-client-*.log.gz">
						<IfLastModified age="30d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="error">
			<AppenderRef ref="LOGFILE" />
		</Logger>
		<Logger name="eu.griend" level="info">
			<AppenderRef ref="LOGFILE" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>