#
# Install as: /etc/systemd/system/pmph.service
#
[Unit]
Description=Pamphlet
After=network-online.targe

[Service]
ExecStart=/usr/bin/java -jar /opt/pmph/lib/pmph-client-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target
